@use "../abstracts" as *;

main {
   width: 100%;
}

.darkBackground {
   background-color: $c-primary-superdark;
}

.sectionSuper {
   display: flex;
   flex-direction: column;
   align-items: center;   
   width: 100%;
}

section {
   max-width: $s-content-width;
   &:first-of-type {
      margin-top: 100px;
   }
   margin: 0;
   padding: 8em 1em 12em;
   .sectionTitle {
      // position: sticky;
      top: 60px;
      margin-bottom: 30px;
      padding-top: 30px;
   }
}


.primarySchema {
   background-color: $c-primary-superdark;
   color: $c-primary-superlight;
   h1 {
      color: $c-primary-light;
   }
}

.primarySchema--light {
   background-color: $c-primary-superlight;
   color: $c-primary-superdark;
   h1 {
      color: $c-primary;
   }
}

.altSchema {
   background-color: $c-alt-primary-superdark;
   color: $c-alt-primary-superlight;
   h1 {
      color: $c-alt-primary-light;
   }
}

.altSchema--light {
   background-color: $c-alt-primary-superlight;
   color: $c-alt-primary-superdark;
   h1 {
      color: $c-alt-primary;
   }
}