@use '../abstracts' as *;

#landing {
   // background-color: red;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#landingInner {
   max-width: $s-content-width;
   width: 100%;
   padding: 1em;
   h1 {
      // font-size: 144px;
   }
   h3 {
      // font-size: 72px;
      font-style: italic;
   }
   article {
      // font-size: 24px;
      font-weight: 300;
   }
   padding-bottom: 300px;
}

header {
   position: sticky;
   bottom: 0;
   top: 0;
   width: 100%;
   z-index: 99;
   background-color: $c-white;
   display: flex;
   justify-content: center;
   // position: fixed;
   transition: box-shadow 200ms ease-in-out;
   -webkit-transition: box-shadow 200ms ease-in-out;
   -moz-transition: box-shadow 200ms ease-in-out;
   -ms-transition: box-shadow 200ms ease-in-out;
   -o-transition: box-shadow 200ms ease-in-out;
}

.headerShadow {
   box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

nav {
   flex-direction: row;
   // justify-content: space-between;
   justify-content: center;
   max-width: $s-content-width;
   width: 100%;
   display: flex;

   color: $c-accent;
   h3 {
      margin: 0;
   }

   ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      li {
         padding: 1em;
         font-weight: 700;
         text-transform: uppercase;
         font-size: 1.3em;
         text-decoration: none;
         list-style: none;
      }
   }
}

@media screen and (min-width: 600px) {
   nav ul { justify-content: flex-end }
}