$primary: #ff0037;
$primary-light: lighten($primary, 10%);
$primary-superlight: lighten($primary, 50%);
$primary-dark: darken($primary, 10%);
$primary-superdark: darken($primary, 40%);

$alt-primary: #0d34e0;
$alt-primary-light: lighten($alt-primary, 5%);
$alt-primary-superlight: lighten($alt-primary, 50%);
$alt-primary-dark: darken($alt-primary, 10%);
$alt-primary-superdark: darken($alt-primary, 40%);

$dark: #0a0a0a;
$dark-1: #1a1a1a;
$dark-2: #2a2a2a;
$dark-shadow: rgba($dark, 0.2);

$white: white;
$light: #fafafa;